* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  padding-top: 20px;
}

.nav__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__sub__button__text {
  font-family: Source Sans Pro;
  color: #090b37;
  font-size: 20px;
  line-height: 24px;
}

.nav__sub__button button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
}

.nav__sub__button button:hover {
  cursor: pointer;
}

.nav__sub__button svg {
  padding-left: 4px;
}

.nav__sub__form {
  padding-left: 16px;
}

.nav__sub__form input {
  border: 2px solid #090b37;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px #090b37;
          box-shadow: 0px 2px #090b37;
  text-decoration: underline;
  min-width: 400px;
  padding: 15px 54px 15px 21px;
  font-family: Hind;
  color: #a0a0a0;
  font-family: Hind;
  font-size: 17px;
  line-height: 26px;
}

.nav__sub__form input:focus {
  outline: none;
}

.hero-wrapper {
  position: relative;
  padding-top: 52.5px;
  background-image: url(../img/bgs/hero-green.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 268px;
  left: 50%;
  max-width: 717px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.hero__headline h2 {
  font-family: Source Sans Pro;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: #090b37;
}

.hero__headline p {
  max-width: 655px;
  font-family: Hind;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #3c2b84;
  padding-top: 28px;
}

.hero__sub {
  position: absolute;
  top: 529.5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.hero__sub__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__sub__form input {
  min-width: 640px;
  font-family: Hind;
  color: #a0a0a0;
  font-size: 17px;
  line-height: 26px;
  text-decoration: underline;
  padding: 27px 0 27px 38px;
  border: 2px solid #090b37;
  -webkit-box-shadow: 0px 2px #090b37;
          box-shadow: 0px 2px #090b37;
  border-radius: 42px;
}

.hero__sub__form input:focus {
  outline: none;
}

.hero__sub__form button {
  border: none;
  border-radius: 35px;
  background: #090b37;
  margin-left: -128px;
}

.hero__sub__form button:hover {
  cursor: pointer;
}

.hero__sub__form svg {
  padding: 20.8px 47.2px;
}

.hero__sub__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__sub__headline svg {
  padding-left: 32px;
}

.hero__sub__headline p {
  padding-left: 16px;
  font-family: Hind;
  font-size: 17px;
  line-height: 26px;
  color: #3c2b84;
}

.process-wrapper {
  background: #e9f7e2;
  background-image: url(../img/bgs/process-white.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.process {
  padding: 160px 0 120px 0;
}

.process__headline {
  max-width: 720px;
  color: #465b43;
}

.process__headline__top {
  font-family: Source Sans Pro;
}

.process__headline__top p {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.process__headline__top h2 {
  padding-top: 5px;
  font-size: 48px;
  line-height: 54px;
}

.process__headline__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.process__headline__bottom svg {
  padding-top: 35px;
}

.process__headline__bottom p {
  max-width: 599px;
  padding: 65px 0 0 24px;
  font-family: Hind;
  font-size: 22px;
  line-height: 32px;
}

.process__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 8px 0 8px;
}

.process__cards__item__content {
  position: absolute;
  padding: 50px 0 0 50px;
  max-width: 250px;
  color: #465b43;
}

.process__cards__item__content h3 {
  padding-top: 14px;
  font-family: Source Sans Pro;
  font-size: 28px;
  line-height: 32px;
}

.process__cards__item__content p {
  padding-top: 16px;
  font-family: Hind;
  font-size: 18px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */